<h3 class="ui right floated header">{{account.firstName}} {{account.lastName}} (#{{account.accountNumber}})</h3>

<br/>
<h4 class="ui horizontal header divider">
    Pay Bill
</h4>
<home-button class=""></home-button>
<br/>
<br/>
<div class="ui form">
    <h4 class="ui dividing header">Payment Details</h4>

    <div class="two fields">
        <div class="field">
            <label>Pay to (account number)</label>
            <input type="text" placeholder="Account number">
        </div>
        <div class="field">
            <label>Due date</label>
            <input type="date">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>KID number</label>
            <input type="text" placeholder="KID"/>
        </div>
        <div class="field">
            <label>Amount (NOK)</label>
            <input type="text" placeholder=",-"/>
        </div>
    </div>
    <button class="ui green button">Confirm payment</button>
</div>