<h3 class="ui right floated header">{{account.personalDetails.firstName}} {{account.personalDetails.lastName}} (#{{account.accountNumber}})</h3>

<br/>
<h4 class="ui horizontal header divider">
    Pay Bill
</h4>
<home-button class=""></home-button>
<br/>
<br/>
<div class="ui form">
    <h4 class="ui dividing header">Payment Details</h4>
    <div class="three fields">
        <div class="field">
            <label>Pay to (account number)</label>
            <input type="text" ng-model="bill.recipientAccountNumber" placeholder="Account number">
        </div>
        <div class="field">
            <label>Pay to (nick name)</label>
            <input ng-model="bill.recipientNickname" type="text">
        </div>
        <div class="field">
            <label>Due date</label>
            <input ng-model="bill.dueDate" type="text">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>KID number</label>
            <input type="text" ng-model="bill.kid" placeholder="KID"/>
        </div>
        <div class="field">
            <label>Amount (NOK)</label>
            <input type="number" ng-model="bill.amount"/>
        </div>
    </div>
    <button ng-click="payBill()" class="ui huge green button">Confirm payment</button>
    <button ng-click="clearFields()" class="ui huge red button">Clear fields</button>

    <div ng-show="showErrorMessage" class="ui negative message">
        <i ng-click="closeErrorMessage()" class="close icon"></i>
        <div class="header">
            ERROR!!!!
        </div>
        <p>
            {{errorMessage}}
        </p>
    </div>

    <div ng-show="showMessage" class="ui message {{alert.alertColor}}">
        <i ng-click="closeAlert()" class="close icon"></i>
        <div class="header">
            {{alert.alertHeading}}
        </div>
        <p>{{alert.alertBody}}</p>
    </div>
</div>