<br />
<h4 class="ui horizontal header divider">
    <i class="money icon"></i>Widthdraw Cash
</h4>
<button ui-sref="loggedin" class="ui orange circular button"> <i class="arrow left icon"></i> Return to overview</button>

<div class="ui segment" style="background-color: transparent;">
    <div class="ui two column middle aligned relaxed fitted stackable grid">
        <div class="column">
            <div class="ui horizontal divider">Pick Amount</div>
            <button class="massive blue ui button" style="margin: 10px;">100 NOK</button>
            <button class="massive blue ui button" style="margin: 10px;">200 NOK</button>
            <button class="massive blue ui button" style="margin: 10px;">400 NOK</button>
            <button class="massive blue ui button" style="margin: 10px;">500 NOK</button>
            <button class="massive blue ui button" style="margin: 10px;">800 NOK</button>
            <button class="massive blue ui button" style="margin: 10px;">1000 NOK</button>
        </div>
        <div class="ui vertical divider">

        </div>
        <div class="column">
            <div class="ui horizontal divider">Choose Amount</div>
            <div class="ui form">
                <div class="ui left icon input">
                    <input type="number" placeholder="Choose amount...">
                    <i class="users icon"></i>
                </div>
                <div class="huge green ui labeled icon button">
                    <i class="signup icon"></i>
                    Withdraw Cash
                </div>
            </div>
        </div>
    </div>
</div>